<form asp-page="/Logout" asp-antiforgery="false" class="form-inline" method="post">
  <button type="submit" class="btn btn-link text-muted" title="로그아웃"><i class="fas fa-sign-out-alt"></i></button>
</form>
